 :root{
    --orange:#f5800c;
    --green:#05ad4d;
    --light-green:#83d7a6;
    --white:#ffffff;
    --grey:#a0a0a0;
    --light-grey:#F5f5f5;
    --black:black;
}
*{
  font-family: "Montserrat", sans-serif;
}
p{
    margin: 0px !important;
}
a{
    text-decoration: none !important;
}
/* route starts */


.routes{
    position: sticky;
    height: 100%;
    background-color: var(--white);
    z-index: 1000;
    top: 0;
}
.menus .menu_optn{
    margin:10px 0px;
    padding:10px 20px;
    transition: all 0.2s;
    cursor: pointer;
    font-weight: 500;
    color: black;
    width: max-content;

}
.logout .menu_optn{
    cursor: pointer;
}
.menus i,.logout i{
    /* padding: 0px 0px 0px 0px; */
}
.menus .menu_optn:hover{
    background-color: var(--orange);
    border-radius: 10px;
    color: var(--white);
}
.actived{
    background-color: var(--orange) !important;
    border-radius: 10px !important;
    color: var(--white) !important;
}
.routes .logo h2{
    background-color: var(--black);
    color: var(--orange);
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;

}
@media only screen and (max-width: 760px){
    .routes{
        position: fixed;
        z-index: 1000;
        left: -1000px;
        transition: all .3s;
    }
    .active{
        left: 0;
    }
    .main{
        overflow: hidden;
    }

    .menu {
        --s: 20px; /* control the size */
        --c: var(--green); /* the color */
        
        height: var(--s);
        aspect-ratio: 1;
        border: none;
        padding: 0;
        border-inline: calc(var(--s)/2) solid #0000; 
        box-sizing: content-box;
        --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0) 
               no-repeat content-box border-box;
        --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000) 
               repeat-y content-box border-box;
        background: 
          var(--_g2) left  var(--_p,0px) top,
          var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
          var(--_g2) right var(--_p,0px) top,
          var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
        background-size: 
          20% 80%,
          40% 100%;
        position: relative;
        clip-path: inset(0 25%);
        -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
        cursor: pointer;
        transition: 
          background-position .3s var(--_s,.3s), 
          clip-path 0s var(--_s,.6s);
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
      }
      .menu:before,
      .menu:after {
        content:"";
        position: absolute;
        border-radius: var(--s);
        inset: 40% 0;
        background: var(--c);
        transition: transform .3s calc(.3s - var(--_s,.3s));
      }
      
      .menu:checked {
        clip-path: inset(0);
        --_p: calc(-1*var(--s));
        --_s: 0s;
      }
      .menu:checked:before {
        transform: rotate(45deg);
      }
      .menu:checked:after {
        transform: rotate(-45deg);
      }
      .menu:focus-visible {
        clip-path: none;
        -webkit-mask: none;
        border: none;
        outline: 2px solid var(--c);
        outline-offset: 5px;
      }
      
}

/* route ends */

/* navbar starts */
.dashboard{
    background-color: var(--light-grey);
}
.dashboard .ham{
    font-size: 20px;
}
.dashboard .logo{
    background-color: var(--black);
    color: var(--orange);
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}
.dashboard .searchbar input{
    width: 80%;
    border-radius: 50px;
    border: 1px solid var(--grey) !important;
}
.dashboard .searchbar input:focus::placeholder{
    color: transparent;
    transition: all 0.1s;
}
.dashboard .searchbar input::placeholder{
    font-size: 14px;
}
.dashboard .profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--orange);
}
.dashboard .topics h2{
    font-weight: 400;
    cursor: pointer;
}
.dashboard .signin .profile, .dashboard .signin span{
    cursor: pointer;
}
/* navbar ends */

/* unit detials starts */
.unit_detials .con h5,.applainces .consumed h5{
    color: var(--orange);
    margin: 0px !important;

}
.unit_detials .con p,.applainces .consumed p{
    font-weight: 500;
    margin: 0px !important;
}
.unit_detials .con,.applainces .consumed{
    border-radius: 15px;
    border: 1px solid var(--orange);
    padding: 10px;
}
.unit_detials .sub3 span{
    color: var(--green);
    position: absolute;
    right: 5px;
    bottom: 6px;
}
.unit_detials .sub3{
    position: relative;
}
.consumption_detials .img img{
    width: 100%;
}
.consumption_container,.month,.applainces,.meter_main,.avg_detials,.slab_detials,
.bill_detials,.payment,.history,.offers_card,.report_form,.connect_us,.address{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    background-color: var(--white);
}
.row{
    padding: 0px !important;
    margin: 0px !important;
}
.con_main .con{
    margin: 0px 0px 0px 5px;
}

.applainces select{
    width: 40%;
}
.applainces option{
    width: 40%;
}
.applainces img{
    width: 70%;
}
/* unit detials ends */

/* status starts */
.month_card{
    border: 1px solid var(--light-green);
    border-radius: 12px;
    color: var(--green);
}
.month .title p{
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
}

.meter_main .meter_card span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px  10px;
    border-radius: 10px;
    font-weight: 500;
}
.meter_main .meter_card span:nth-child(odd){
    color: var(--orange);
    border: 1px solid var(--orange);

}
.meter_main .meter_card span:nth-child(even){
    color: var(--green);
    border: 1px solid var(--green);
}
/* @media only screen and (max-width: 600px) {
    .meter_card .meter_detials span{
        padding: 5px 0px;
    }
} */

/* status ends */

/* payments starts */
.table{
    width: 80% ;
}
.table th, .table td{
    text-align: center;
    box-shadow: none !important;

}
.table tr{
    font-weight: 600;

}
.table tr:nth-child(odd) td{
    color: var(--green);
    background-color: transparent !important;

}

.table tr:nth-child(even) td{
    color: var(--orange);
}
/* payments ends */

/* bill detialls */

.bill_detials .user_detials p{
    display: flex;
    justify-content:space-between ;
}
.bill_detials input,.bill_detials button{
    border-radius: 0px;
    border-color: black;
}
.bill_detials input:focus::placeholder{
    color: transparent;
    transition: all .1s;
}

.button{
    border-radius: 15px;
    color: var(--orange);
    font-weight: 700;
    cursor: pointer;
    border: 2px solid var(--orange);
    background-color: var(--white);
}
.button:hover{
    background-color: var(--orange);
    color: var(--white);
    transition: all .1s;
}
.payment .payment_optn h2{
    color: var(--green);
}
.offers_card{
    background-image: url(../images/offer.jpg);
    height: 50%;
}
.offers_card h6{
    color: var(--white);
    font-weight: 600;
    margin: 0px !important;
}
.offers_card p{
    font-size: 12px;
    color: var(--white);
    margin: 0pc !important;
}
.offers_card a{
    font-size: 12px;
    color: var(--white) ;

}
.offers_card a:hover{
    color: var(--orange);
}

/* bill detials ends */

/* report starts */

.report_form .form input,.report_form .form textarea{
    border: 1px solid black;
    border-radius: 0px;
}
.report_form .form input::placeholder,.report_form .form textarea::placeholder{
    color: black;
}
.report_form .form input:focus::placeholder,.report_form .form textarea:focus::placeholder{
    color: transparent;
    transition: all .1s;
}
.report_form .form button{
    border-radius: 0px;
}
.connect_us .media span{
    color: var(--green);
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
}
.connect_us .media span:hover{
    transform: scale(1.2);
    transition: all .1s;
}
.connect_us .media{
    border: 2px solid var(--orange);
    border-radius: 15px;
}
.connect_us{
    height: 40%;
}
.address{
    height: 60%;
}
.reach_out .address_detials p{
    color: var(--orange);
    font-weight: 600;
}
.copyright{
    font-weight: 600;
    font-size: 12px;
}
.copyright span{
    font-size: 15px;
}